name: OneDrive to OneDrive (Resume Safe)

on:
  workflow_dispatch:
  schedule:
    # 北京时间：03 / 09 / 15 / 21
    # UTC：19 / 01 / 07 / 13
    - cron: '0 19,1,7,13 * * *'

jobs:
  transfer:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - uses: actions/checkout@v4

      - name: Install rclone
        run: |
          curl https://rclone.org/install.sh | sudo bash

      - name: Setup rclone config
        run: |
          mkdir -p ~/.config/rclone
          cat << 'EOF' > ~/.config/rclone/rclone.conf
          ${{ secrets.RCLONE_CONF }}
          EOF

      - name: Check remotes
        run: |
          rclone listremotes

      - name: OneDrive to OneDrive
        run: |
          rclone copy \
            zy:/ \
            z1:/ \
            --progress \
            --transfers=4 \
            --tpslimit=10 \
            --retries=20 \
            --stats=1m \
            --stats-one-line \
            --low-level-retries=100
