name: OneDrive Transfer

on:
  workflow_dispatch:

jobs:
  transfer:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - uses: actions/checkout@v4

      - name: Install rclone
        run: curl https://rclone.org/install.sh | sudo bash

      - name: Setup rclone config
        run: |
          mkdir -p ~/.config/rclone
          cat << 'EOF' > ~/.config/rclone/rclone.conf
          ${{ secrets.RCLONE_CONF }}
          EOF

      - name: OneDrive to OneDrive
        run: |
          rclone copy mna:/ mcn:/ \
            --progress \
            --transfers=4 \
            --stats=30s \
            --low-level-retries=100
