name: OneDrive to OneDrive (Resume Safe)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  transfer:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - uses: actions/checkout@v4

      - name: Install rclone
        run: curl https://rclone.org/install.sh | sudo bash

      - name: Setup rclone config
        run: |
          mkdir -p ~/.config/rclone
          cat << 'EOF' > ~/.config/rclone/rclone.conf
          ${{ secrets.RCLONE_CONF }}
          EOF

      - name: Check remotes
        run: rclone listremotes

      - name: OneDrive to OneDrive
        run: |
          rclone copy \
            zy:/ \
            z1:/ \
            --progress \
            --transfers=4 \
            --checkers=8 \
            --tpslimit=8 \
            --retries 20 \
            --low-level-retries 50
